
        .line {
            color: rgb(41, 5, 71);
        background: royalblue;
        margin-bottom: 16px;
        padding: 12px;
        font-size: 24px;
        font-family: cursive;
        text-align: center;
        }
        
   